/*@charset "UTF-8";*/

 .panel-info {
    border: 1px solid black;
    background-color: #c7ecee;   	margin: 20px 40px 15px 40px;   	padding: 10px;   	text-align: center;
}      h1{	text-align: center;}.anchor{	text-align: center;}